<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= l.name %></h5>
                <h6 class="card-subtitle text-muted"><%= l.address.address %></h6>
                <% if(l.address.address2) {%>
                    <h6 class="card-subtitle text-muted"><%= l.address.address2 %> </h6>
                <% } %>  
                <h6 class="card-subtitle text-muted"><%= l.address.city %>, <%= l.address.state %> </h6>
                <h6 class="card-subtitle text-muted"><%= l.address.zip%></h6>
                <p class="card-text">
                   
            </div>
        </div>
    </div>
</div>


<a class="btn btn-secondary" href="/locations">Back</a>