<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col">
        <h1><%= l.name %></h1>
    </div>
</div>
<div class="row mb-5">
    <div class="col">
        <h6 class="text-muted"><%= l.address.address %></h6>
        <% if(l.address.address2) {%>
            <h6 class="text-muted"><%= l.address.address2 %> </h6>
        <% } %>  
        <h6 class="text-muted"><%= l.address.city %>, <%= l.address.state %> </h6>
        <h6 class="text-muted"><%= l.address.zip%></h6>
    </div>
</div>


    <h4>Assets</h4>
    <ul>
        <% for(let a of l.assets){ %>
            <li><a href="/assets/<%=a._id%>"><%= a.name %></a></li>
       <% } %> 

    </ul>
    
    <a href="/locations/<%= l._id %>/assets/assign" class="btn btn-primary">Assign Asset</a>
    
    <a class="btn btn-secondary" href="/locations">Back</a>