<% layout('layouts/boilerplate') %> 
    <div class="row">
        <h1 class="text-center">Edit</h1>
        <div class="col-6 offset-3">
            <form action="/assets/<%= a._id %>?_method=PATCH" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label class="form-label" for="asset-name">Name: </label>
                    <input class="form-control" type="text" name="asset[name]" id="asset-name" value="<%= a.name %>"  required>
                </div>
                <div class="mb-3">
                    <select class="form-select" name="asset[category]" id="asset-category" required>
                        <% for(let c of assetCategories){ %>
                            <% const selected = a.category === c ? "selected" : "" %>
                            <option value="<%= c %>" <%= selected %> ><%= c %></option>        
                        <%} %>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="asset-id">Unique ID: </label>
                    <input class="form-control" type="text" name="asset[uniqueID]" id="asset-id" value="<%= a.uniqueID %>" required>
                    <small id="ID-help-block">ie Serial, Phone Number, VIN, etc</small>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="asset-tag">Tag Number: </label>
                    <input class="form-control" type="text" name="asset[assetTag]" id="asset-tag" value="<%= a.assetTag %>" required>
                </div>
                <button class="btn btn-success">Update</button>
            </form>
            <a class="btn btn-secondary mt-3" href="/assets/<%= a._id %>">Cancel</a>
        </div>
    </div>