<% layout('layouts/boilerplate') %> 
    <h2><%= a.assetTag %> </h2>
    <p>
        Asset Name: <%= a.name %> 
    </p>  
    <p>
        Category: <%= a.category %> 
    </p>
    <p>
        Unique Identifier: <%= a.uniqueID %> 
    </p>
    <% if(a.assigned){ %> 
        <p>
            Assigned to <%= a.location %> 
        </p>    
    <%} else { %>
        <p>
            Unassigned - <%= a.location %> 
        </p>
    <%} %>
    <a href="/assets/<%= a.id %>/edit">Edit</a>
    <br>
    <a href="/assets">Back to Assets</a>
    
    <form action="/assets/<%=a._id%>?_method=DELETE" method="POST">
        <button>Delete This Asset</button>
    </form>
